:root {
    --color-blue: #4cc9f0;
    /* Bright Cyan-Blue */
    --color-purple: #b5179e;
    /* Vivid Fuchsia */
    --bg-dark: #05070a;
    /* Dark UI Background */

    --glass-border: rgba(255, 255, 255, 0.1);
    --glass-bg: rgba(255, 255, 255, 0.03);

    /* Brand Colors */
    --react-blue: #61dafb;
    --rsbuild-orange: #ff7e33;
    --go-cyan: #00add8;
    --gql-pink: #e10098;
    --gqlgen-white: #f9f09;
}
